<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <%- include('./partials/head') %>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar bg-secondary-subtle text-secondary-emphasis">
      <div class="container-fluid">
        <a class="navbar-brand">Shop.ly</a>
      </div>
    </nav>
    <!-- End of Navbar -->    


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% let counter = 1; %>
          <% orders.forEach(order => { %>
            <% order.carts.forEach(cart => { %>
                <tr>
                    <td scope="col"><%= counter++ %></td>
                    <td scope="col"><%= cart.product.name %></td>
                    <td scope="col"><%= cart.quantity %></td>
                    <td scope="col">₹<%= cart.product.price %></td>
                    <td scope="col">₹<%= cart.product.price * cart.quantity %></td>
                    <td scope="col"><%= order.status %></td>
                </tr>
            <% }); %>
          <% }); %>
        </tbody>
      </table>


    <%- include('./partials/script') %>
</body>

</html>